//Variabler
$bg-color: #f0f0f0;
$nav-color: #fff;
$footer-color: #0a1f1c;
$primary-color: #3a8479;
$secundary-color: #133833;
$txt-color: #484848;
$padding: 0.5em;

$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


//Mixins
//Ændre på justify content og allignment vil vi gerne, derfor laver vi dette. Her slipper vi for at skrive disse ting under, hver eneste gang.

@mixin flex($justify:center, $align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn($bg-color:$primary-color, $btn-padding: 0.8em 1em){ //Når bg-color ligger inde her er det en lokal, da man skal deklarere at man er inde i sin mixin. Den kan hedde det samme fordi den tilhøre sin mixin.
    background-color: $bg-color;
    padding: $btn-padding;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

@mixin cta-box($width:20vw){
width: $width; //globale variabler kan tilgås af alle, alle steder. Når vi har kaldt dem et modul kan vi hente dem alle steder. Når vi arbejder i mixins, der kan vi også indsætte variabler dog kan disse variabler kun tilgås inden for det specifikke mixin, derfor er disse så lokale variabler disse kan ikke kaldes på uden for sit mixin, så skulle der have været et justify variable.
background-color: #fff;
padding: 2em;
margin: 2em auto; //Elementet skal være centreret inden for sin kasse. den skal selv tilpasse sig til højre og venstre derfor sætter vi den til auto.
}
