@use'partial';

//Gennerel styling
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: partial.$font;
    background-color: partial.$bg-color;

    //Nu gøre vi brug af inlineing (næsting) et element inde i body:
        p{
            font-size: 16px;
            color: partial.$txt-color;
            line-height: 1,5;
        }

        h1, h2, h3, h4, h5, h6{
            font-weight: 600;
            color: partial.$txt-color;

        }
}

img{
    width: 100%; //max-with 100% hvis billedet ikke skal strækkes, dog er disse billeder store nok
    height: auto;
}

.container{
    display: grid; //Grid kan defineres på flere måder, vi gør brug af grid collums og grid rows, auto rows da vi ikke skal ind og lave noget kompleks
    grid-template-columns: repeat(5, 1fr); //Her skriver hvor mange collums vi skla have og hvad størresle de skal have
    grid-auto-rows: minmax(50px, auto); //De rækker der er som ikke er specificeret skal indeholde 50px, igen her er vi ikke inde og lave noget konkret med rækkerne.

}

//Navigation

header{
    //vores grid skal have den fulde bredde så vi bruger 5 collums men plus 6 da der altid er en ekstra
    grid-column: 1/6;
    //nu kalder vi på vores mixin her: og vi tilføjer nogle elementer vi ændre i parantes. Det er nødvendigt at have dem i parantes hvis de skal ændres ellers er det fastsatte elementer.
    @include partial.flex($justify: space-between);
    //Nu skal vi have en baggrundsfarve til vores element
    background-color: partial.$nav-color;
    //De grønne streger i top og bund på billedet på hjemmesiden, bunden ligger i header i border-bottom:
    border-bottom: 4px solid partial.$primary-color;

}

nav{
    //Vi definere højden her. Man skal ikke, men man kan for at få det look man vil have. Man kan også lave det i headeren
    height: 5em;
    padding: 1em;
    //vi henter vores flex igen. Include tagget skal bruges for at hente sin mixin, partial er filen den ligger i. Definer hvilken fil du henter fra og så hvad din mixin hedder. Ses nedenfor:
    @include partial.flex($justify: space-between);

    //Her henter vi vores logo/billede
    img{
        //Vi giver billedet en fast str. px er ikke bedst til en responsiv side. Men til det her er px fint at bruge.
        width: 70px;
    }

    ul{
        //Her har vi navigationselementerne og de skal være ved siden af hinanden, vi gør brug af flec for at få dem ved siden af hinanden:
        @include partial.flex; //Her ændres ikke på noget da det allerede er specificeret. vi laver ikke paranteser da vi ikke ændre på de værdier vi allerede har lavet.
        list-style-type:none
    }

    a{
        //Her laves der en variabel til at lave den samme mængde padding. Samt at farven skal specificeres. Margin kan vi også bruge værdien til padding. 
        color: partial.$txt-color;
        padding: partial.$padding;
        margin: partial.$padding;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none; //None fordi vi ikke vil have en streg neden under.
    }

    a:hover{
        //Hover farven skal ændres til den primary-color:
        color: partial.$primary-color;
    }
}

.mobile-nav{
    .bars{
        display: none;
        cursor: pointer;
    }

}

.toggleShow{
    //JAVA Script
    display: flex;
    flex-direction: column;

}

.active{
    //En klasse der hedder active er for at brugeren altid kan se hvor de er.
    color: partial.$primary-color; //Når vi laver en hover på en side bliver det grøn, fx sæt den ind som class på fx "forside" bliver den grøn.
}

//Nu skal vi igang med header billede eller hero banner, billedet neden under.
//Vi har 2 billeder og tekst og knap vi skal have ovenover billedet

.header-img{
    position: relative;
    margin-bottom: 1em; //for at give lidt luft til næste element efterfølgende.

        .banner-tekst{
            position: absolute;
            top: 25%;
            left: 5%; //Ved disse to tal er det bare at prøve indtil det er som man vil have det gennerelt.


        }

        h1{
            font-size: 3.5vw;
        }
        p{
            font-size: 2vw;
        }
        //Nu laver vi en mixin der indeholder vores knap style i partial og foresætter nedenfor:
        a{
            @include partial.btn;
            position: absolute;
            display: inline-block;
            margin-top: 1em;

                &:hover{ //Anden måde også at lave knappen
                    background-color: partial.$secundary-color;
                    transition: 0.3s ease-in-out;
                }
        }
}

.bg-billede-mobil{
    display: none;
}

/*Forside*/

main{
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

        h2{
            grid-column: 1/7; /*Den skal fylde den fulde længde*/
            text-align: center;
            font-size: 30px;
        }

        .cta-wrapper{
            grid-column: 1/7; /*sektionen med call to action skal fylde den fulde bredde*/
            display: flex;
            justify-content: space-around; /*De call to action inde i den wrapper skal fordeles med denne space around*/
        }
}

/*CTA bokse*/

.cta-1, .cta-2, .cta-3{
    @include partial.cta-box;

        img{ /*Billederne skal rettes til de er for store*/
            margin: 0 auto; /*Der skal ikke tilgås yderligere margin*/
            width: 60%;
            display: block; /*Selvom de har en bredde på 60% skal billedet stadig fylde 60%*/
        }

        p{ /*Vi tilføjer margin i bunden da de kan ryge op over teksten derfor tilføjer vi lidt ekstra under buinden*/
            margin-bottom: 2em;
        }

        a{ /*Vi har allerede en mixin, som vi har lavet, den kalder vi bare på*/
            @include partial.btn;
            display: block; /*Så elementet fylder hele sin container, så ingen elementer kommer op og står ved siden ad*/
        
            &:hover{ /*vi vil gerne have en hover effekt, med samme baggrundsfarve*/
                background-color: partial.$secundary-color;
                transition: 0.4s ease-in-out;
            }

        }
}

/*Tekst o gbillede sektionen (der med den grønnekasse ogbillede ved siden ad)*/

.txt-img-section{
    /*Den er underlagt grid som vi lavede på main, så definere vi hvor meget den skal fylde, den fulde bredde af de 7 linjer, så laver vi yderligere et grid på den som kommer til at ligge inde i den sektion.*/
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}

.tekst{
    grid-column: 1/5;
    background-color: partial.$secundary-color;
    padding: 2em 4em 4em 4em;

        p{
            color: partial.$bg-color;
        }

        p:nth-of-type(4){ /*Fordi vi har 4 p i vores sektion*/
            margin-bottom: 3em;
        }

        /*h2 skifter vi baggrundsfarve og så skal den over i venstres ide*/
        h2{
            color: partial.$bg-color;
            text-align: left;
        }
}

/*knappen i tekstsektionen i den grønne kasse*/
.secendary-btn{
    /*Vi henter vores default knap og så tilpasser vi den med transparent da vi har en variabel hvor vi bare kan skifte farven*/
    @include partial.btn($bg-color: transparant);
    border: 1px solid #fff;

        /*Hover skal også laves:*/
        &:hover{
            background-color: #fff;
            color: partial.$secundary-color;
            transition: 0.4s ease-in-out;
        }
}

/*Her sættes billedet ind i den tomme div inde i html filen*/
.billede{
    /*billede skal tilføjes også skal vi sige hvor meget det skal fylde i vores grid*/
    grid-column: 5/8;
    background-image: url(img/presentation.jpg);
    
    /*Definere hvordan billedet skal vises og hvilke del af billedet det skal centreres omkring, altså hvordan skal billedet positioneres*/
    background-repeat: no-repeat;
    background-size: cover; /*Cover den skal prøve at få det til at passe ind i det plads den nu har*/
    background-position: center; /*Den skal positioneres ifht. midten af billedet*/
}

/*Kontaktformularen*/   
.kontakt-bg-img{
    /*Her i skal have et billede til at ligge bagved, vi definere vores grid, tilføjer vores grid samt overlay og hvordan billedet skal vises, her er vi i vores main som består af 6 colonner*/
    grid-column: 1/7;
    background: linear-gradient(rgba(142, 142, 142, 0.8), rgba(142, 142, 142, 0.8)), url(img/meeting.jpg); /*rgba, a er hvor meget man skal være i stand til at se igennem farven, derefter addes url som er det billede der skal være under*/
    background-size: cover;
}

.kontaktform{
    /*Hvordan skal det se ud, baggrundsfarve, centrering osv af denne formular kasse*/
    background-color: partial.$bg-color;
    border-radius: 5px; /*Så den får lidt runde hjørner*/
    padding: 1.3em; /*Så kontaktformularen ikke ligger helt ude i siden*/
    width: 50%;
    /*Vi vil gerne have at man skal se lidt i toppen, men også i bundenen*/
    margin: 4em auto;

        h3{
            /*størelsen og margin*/
            font-size: 25px;
            margin-bottom: 0;
            margin-left: 0.5em;
        }

        p{
            margin-left: 1em;
        }
}

/*flexboks omkring vores div, altså vores elementer, så de kommer op ved siden af hinanden.*/
.section-form{
    display: flex;
}

/*Vi tager fat i input, med de forskellige types, fx telefon, mail osv, når vi gør det og ikke har givet en class skal man bruge input og firkantetparanteser*/
input[type=text], input[type=email], input[type=tel], select, textarea{
    width: 100%;
    font-size: 15px;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid partial.$secundary-color;
    box-sizing: border-box;
    margin: 0.5em 1em 1em 1em;
    font-family: partial.$font;

}

input[type=submit]{
    @include partial.btn;
    font-size: 15px;
    border: none;
    width: 100%;
    margin: 0 1em;
    cursor: pointer;

        &:hover{
            background-color: partial.$secundary-color;
            transition: 0.4s ease-in-out;
        }
}

.visually-hidden { /*Den visuelt gemmer den i html og så kan den læses op af en skærmlæseren*/
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }