@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}
body p {
  font-size: 16px;
  color: #484848;
  line-height: 1, 5;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 600;
  color: #484848;
}

img {
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

header {
  grid-column: 1/6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 4px solid #3a8479;
}

nav {
  height: 5em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 70px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
nav a {
  color: #484848;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover {
  color: #3a8479;
}

.mobile-nav .bars {
  display: none;
  cursor: pointer;
}

.toggleShow {
  display: flex;
  flex-direction: column;
}

.active {
  color: #3a8479;
}

.header-img {
  position: relative;
  margin-bottom: 1em;
}
.header-img .banner-tekst {
  position: absolute;
  top: 25%;
  left: 5%;
}
.header-img h1 {
  font-size: 3.5vw;
}
.header-img p {
  font-size: 2vw;
}
.header-img a {
  background-color: #3a8479;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: absolute;
  display: inline-block;
  margin-top: 1em;
}
.header-img a:hover {
  background-color: #133833;
  transition: 0.3s ease-in-out;
}

.bg-billede-mobil {
  display: none;
}

/*Forside*/
main {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
main h2 {
  grid-column: 1/7; /*Den skal fylde den fulde længde*/
  text-align: center;
  font-size: 30px;
}
main .cta-wrapper {
  grid-column: 1/7; /*sektionen med call to action skal fylde den fulde bredde*/
  display: flex;
  justify-content: space-around; /*De call to action inde i den wrapper skal fordeles med denne space around*/
}

/*CTA bokse*/
.cta-1, .cta-2, .cta-3 {
  width: 20vw;
  background-color: #fff;
  padding: 2em;
  margin: 2em auto;
}
.cta-1 img, .cta-2 img, .cta-3 img { /*Billederne skal rettes til de er for store*/
  margin: 0 auto; /*Der skal ikke tilgås yderligere margin*/
  width: 60%;
  display: block; /*Selvom de har en bredde på 60% skal billedet stadig fylde 60%*/
}
.cta-1 p, .cta-2 p, .cta-3 p { /*Vi tilføjer margin i bunden da de kan ryge op over teksten derfor tilføjer vi lidt ekstra under buinden*/
  margin-bottom: 2em;
}
.cta-1 a, .cta-2 a, .cta-3 a { /*Vi har allerede en mixin, som vi har lavet, den kalder vi bare på*/
  background-color: #3a8479;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block; /*Så elementet fylder hele sin container, så ingen elementer kommer op og står ved siden ad*/
}
.cta-1 a:hover, .cta-2 a:hover, .cta-3 a:hover { /*vi vil gerne have en hover effekt, med samme baggrundsfarve*/
  background-color: #133833;
  transition: 0.4s ease-in-out;
}

/*Tekst o gbillede sektionen (der med den grønnekasse ogbillede ved siden ad)*/
.txt-img-section {
  /*Den er underlagt grid som vi lavede på main, så definere vi hvor meget den skal fylde, den fulde bredde af de 7 linjer, så laver vi yderligere et grid på den som kommer til at ligge inde i den sektion.*/
  grid-column: 1/7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.tekst {
  grid-column: 1/5;
  background-color: #133833;
  padding: 2em 4em 4em 4em;
  /*h2 skifter vi baggrundsfarve og så skal den over i venstres ide*/
}
.tekst p {
  color: #f0f0f0;
}
.tekst p:nth-of-type(4) { /*Fordi vi har 4 p i vores sektion*/
  margin-bottom: 3em;
}
.tekst h2 {
  color: #f0f0f0;
  text-align: left;
}

/*knappen i tekstsektionen i den grønne kasse*/
.secendary-btn {
  /*Vi henter vores default knap og så tilpasser vi den med transparent da vi har en variabel hvor vi bare kan skifte farven*/
  background-color: transparant;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
  /*Hover skal også laves:*/
}
.secendary-btn:hover {
  background-color: #fff;
  color: #133833;
  transition: 0.4s ease-in-out;
}

/*Her sættes billedet ind i den tomme div inde i html filen*/
.billede {
  /*billede skal tilføjes også skal vi sige hvor meget det skal fylde i vores grid*/
  grid-column: 5/8;
  background-image: url(img/presentation.jpg);
  /*Definere hvordan billedet skal vises og hvilke del af billedet det skal centreres omkring, altså hvordan skal billedet positioneres*/
  background-repeat: no-repeat;
  background-size: cover; /*Cover den skal prøve at få det til at passe ind i det plads den nu har*/
  background-position: center; /*Den skal positioneres ifht. midten af billedet*/
}

/*Kontaktformularen*/
.kontakt-bg-img {
  /*Her i skal have et billede til at ligge bagved, vi definere vores grid, tilføjer vores grid samt overlay og hvordan billedet skal vises, her er vi i vores main som består af 6 colonner*/
  grid-column: 1/7;
  background: linear-gradient(rgba(142, 142, 142, 0.8), rgba(142, 142, 142, 0.8)), url(img/meeting.jpg); /*rgba, a er hvor meget man skal være i stand til at se igennem farven, derefter addes url som er det billede der skal være under*/
  background-size: cover;
}

.kontaktform {
  /*Hvordan skal det se ud, baggrundsfarve, centrering osv af denne formular kasse*/
  background-color: #f0f0f0;
  border-radius: 5px; /*Så den får lidt runde hjørner*/
  padding: 1.3em; /*Så kontaktformularen ikke ligger helt ude i siden*/
  width: 50%;
  /*Vi vil gerne have at man skal se lidt i toppen, men også i bundenen*/
  margin: 4em auto;
}
.kontaktform h3 {
  /*størelsen og margin*/
  font-size: 25px;
  margin-bottom: 0;
  margin-left: 0.5em;
}
.kontaktform p {
  margin-left: 1em;
}

/*flexboks omkring vores div, altså vores elementer, så de kommer op ved siden af hinanden.*/
.section-form {
  display: flex;
}

/*Vi tager fat i input, med de forskellige types, fx telefon, mail osv, når vi gør det og ikke har givet en class skal man bruge input og firkantetparanteser*/
input[type=text], input[type=email], input[type=tel], select, textarea {
  width: 100%;
  font-size: 15px;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid #133833;
  box-sizing: border-box;
  margin: 0.5em 1em 1em 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit] {
  background-color: #3a8479;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  border: none;
  width: 100%;
  margin: 0 1em;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #133833;
  transition: 0.4s ease-in-out;
}

.visually-hidden { /*Den visuelt gemmer den i html og så kan den læses op af en skærmlæseren*/
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}/*# sourceMappingURL=style.css.map */